/* styles.css */
#logininfo {
    display: none;
}

#login-container {
    display: none;
}

#service-container {
    display: none;
}

#booking-container {
    display: none;
}

#test {
    display: none;
}

#content {
    position: fixed;
    left: 45%;
}

.divide {
    height: 15px;
}
/* Add styles here to customize the appearance of your app */